<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div id="main" align="center">
  <div id="tree" class="mat-app-background basic-container">
        <tree-flat-overview-example>loading</tree-flat-overview-example>
  </div> 
  <div id="window">
      <div id="color">
          <app-color-picker>
          </app-color-picker>    
      </div>
      Intensity
      <mat-slider
      class = "tp-margin"
      [max] = "max"
      [min] = "min"
      [thumbLabel] = "thumbLabel"
      [(ngModel)] = "value"
      (ngModelChange)="onChange($event)">
      </mat-slider>
      
      <mat-slide-toggle
      class="tp-margin"
      [checked]="checked">
      Toggle daylight harvesting
      </mat-slide-toggle>
  </div>
</div>

