h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
#main{
  width:95%;
  margin:0 auto;
}
#window{
  width: 75%;
  margin: 0 auto;
}
#color{
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
}
#tree{
  position: relative;
  width: 25%;
  height: 25%;
  float: left;
}